{% extends 'basic_template.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for attempt in object_list %}
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Время последней попытки: {{ attempt.attempt_last_time }}</li>
                    <li>Время следующей попытки: {{ attempt.attempt_next_time }}</li>
                    <li>Статус: {{ attempt.attempt_status }}</li>
                </ul>
                {% if perms.mailing.can_disable_mailing or user == mailing.owner %}
                <a class="p-2 btn btn-outline-primary" href="/attempt_delete/{{ attempt.id }}/">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}