{% extends 'basic_template.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    {% for mailing in object_list %}
    <div class="col-3">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>{{ mailing.start_time }}</li>
                    <li>{{ mailing.frequency }}</li>
                    <li>{{ mailing.status }}</li>
                    <li>{{ mailing.message }}</li>
                </ul>
                {% if perms.mailing.can_view_any_mailing %}
                <a class="p-2 btn btn-outline-primary" href="/info_mailing/{{ mailing.id }}/">Cмотреть</a>
                {% endif %}
                {% if perms.mailing.can_disable_mailing or user == mailing.owner %}
                <a class="p-2 btn btn-outline-primary" href="/edit_mailing/{{ mailing.id }}/">Изменить</a>
                <a class="p-2 btn btn-outline-primary" href="/delete_mailing/{{ mailing.id }}/">Удалить</a>
                {% endif %}
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% if perms.mailing.can_disable_mailing %}
 <a class="p-2 btn btn-outline-primary" href="/create_mailing/">Создать новую рассылку</a>
{% endif %}

{% endblock %}