{% extends 'basic_template.html' %}
{% load my_tags %}
{% block content %}
<div class="row text-center">
    <div class="col-6">
        <div class="card mb-4 box-shadow">
            <div class="card-body">
                <ul class="list-unstyled mt-3 mb-4 text-start m-3">
                    <li>Время следующего запуска: {{ mailing.start_time }}</li>
                    <li>Периодичность: {{ mailing.frequency }}</li>
                    <li>Статус: {{ mailing.status }}</li>
                    <li>Сообщение: {{ mailing.message }}</li>
                    <li>Адресат: {{ mailing.address }}</li>
                    <li>Владелец: {{ mailing.owner }}</li>
                </ul>
            </div>
        </div>
    </div>
{% endblock %}